    <div class="healthcheck_main_section">
        <div class="healthcheck_connection_explanation">
            <div id="hc_section_title">
                {HEALTHCHECK_TITLE}
            </div>
            <div id="hc_section_explanation">
                {HEALTHCHECK_CONNECTION_EXPLANATION}
            </div>
        </div>
    </div>
    <div class="healthcheck_main_section">
        <div class="{BAT_LOCATION_COLOR}">
            <div id="maxima_installed_title">
                    {BAT_LOCATION_TITLE}<div id="maxima_installed_title_status">{BAT_LOCATION_TITLE_STATUS}</div>
            </div>
            <div id="maxima_installed_message" class="{HC_EXPANDED}">
                {BAT_LOCATION_MESSAGE}
            </div>
            <div id="maxima_installed" class="{HC_EXPANDED}">
                {BAT_LOCATION}
            </div>
        </div>
    </div>
    <div class="healthcheck_main_section">
        <div class="{CONNECTION_STATUS_COLOR}">
            <div id="connection_status_title">
                {CONNECTION_STATUS_TITLE}<div id="connection_status_title_status">{CONNECTION_STATUS_TITLE_STATUS}</div>
            </div>
            <div id="connection_status_message" class="{HC_EXPANDED}">
                {CONNECTION_STATUS_MESSAGE}
            </div>
            <div id="connection_status_content" class="{HC_EXPANDED}">
                {CONNECTION_STATUS}
            </div>
         </div>
        <div class="{CONNECTION_STATUS_COLOR}">
            <div id="sample_command_title">
                {SAMPLE_COMMAND_TITLE}<div id="sample_command_title_status">{SAMPLE_COMMAND_TITLE_STATUS}</div>
            </div>
            <div id="sample_command_message" class="{HC_EXPANDED}">
                {SAMPLE_COMMAND_MESSAGE_1}
            </div>
            <div id="sample_command_1" class="{HC_EXPANDED}">
                {SAMPLE_COMMAND_1}
            </div>
            <div id="sample_command_2" class="{HC_EXPANDED}">
                {SAMPLE_COMMAND_2}
            </div>
        </div>
    </div>
    <div class="healthcheck_main_section">
        <div class="{MAXIMA_VERSION_COLOR}">
            <div id="maxima_version_title">
                {MAXIMA_VERSION_TITLE}<div id="maxima_version_title_status">{MAXIMA_VERSION_TITLE_STATUS}</div>
            </div>
            <div id="maxima_version_message" class="{HC_EXPANDED}">
                {MAXIMA_VERSION_MESSAGE}
            </div>
            <div id="maxima_version" class="{HC_EXPANDED}">
                {MAXIMA_VERSION}
            </div>
         </div>
    </div>